<div class="row justify-content-center">
    <div class="col-auto mt-2">
        <h6>
            <fa-icon *ngIf="!pause" [icon]="faPause" size="2x" (click)="pause=!pause" style="cursor: pointer"></fa-icon>
            <fa-icon *ngIf="pause" [icon]="faPlay" size="2x" (click)="pause=!pause" style="cursor: pointer"></fa-icon>
        </h6>
    </div>
</div>
<div class="row">
    <div class="col">
        <div *ngFor="let item of test_tweets.slice().reverse()">
            <div id="{{ item }}"></div>   
        </div>
    </div>
</div>
