<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row jumbotron justify-content-between">
        <div class="col-12">
            <h2>Election Social Media</h2>
            <p>A collection of real-time services to give live updates for social media about the election.</p> 
        </div>
        <div class="col-xs-3">
            <a class="ml-3" href="https://github.com/cpgeier"> 
                <fa-icon class="fa-link" [icon]="faGithub" size="2x"></fa-icon>
            </a>
            <a class="ml-3" href="https://www.linkedin.com/in/chris-geier"> 
                <fa-icon class="fa-link" [icon]="faLinkedinIn" size="2x"></fa-icon>
            </a>
            <a class="ml-3" href="http://cpgeier.ml/"> 
                <fa-icon class="fa-link" [icon]="faLink" size="2x"></fa-icon>
            </a>
        </div>
        <div class="col-auto">
            <iframe src="https://ghbtns.com/github-btn.html?user=cpgeier&repo=real-time.ml&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row justify-content-center">
                <h5>Election Tweets Per Minute</h5>
            </div>
            <div class="row">
                <div class="col">
                    <div style="height: 400px;">
                        <app-tweets-line-chart [marketStatus]="marketStatusToPlot"></app-tweets-line-chart>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <h5>Tweets containing "Joe Biden"</h5>
            </div>
            <div class="row">
                <div class="col">
                    <div style="height: 400px;">
                        <app-tweets-line-chart-biden [tweetCounts]="bidenTweetCountToPlot"></app-tweets-line-chart-biden>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <h5>Tweets containing "Donald Trump"</h5>
            </div>
            <div class="row">
                <div class="col">
                    <div style="height: 400px;">
                        <app-tweets-line-chart-trump [tweetCounts]="trumpTweetCountToPlot"></app-tweets-line-chart-trump>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-center">
                <h5>Live Tweets (and retweets)</h5>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div style="height: 1000px">
                        <app-tweet-embed [tweetStatus]="tweetToShow" [tweetId]="tweetId"></app-tweet-embed>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">

    </div>
</div>
<router-outlet></router-outlet>
